
#content {
	width: 60%;
	margin: 40px auto;
	padding: 30px;
	background-color: lightgray;	
	overflow: auto;
}

#image_list {
	margin-top: 30px;
}

.element_container {
	display: inline-block;
	margin: 0px 50px 50px 0px;
	width: 200px;
	
	vertical-align: top;
	
}

.image_container {
	max-width: 185px;
	/*height: 180px;*/
	
	padding: 5px;
	background-color: white;
	border: 1px solid #bebebe;
	display: block;
	margin-bottom: 10px;
	text-align: center;
}

.image{
	width: 180px;
	/*max-height: 180px;*/
}

.edit_image, .delete_image, .loading_img {
	float: right;
	margin-left: 10px;
}

.edit_image:hover, .delete_image:hover {
	cursor: pointer;
}

.image_form textarea{
	display: block;
	width: 180px;
	height: 100px;
}

.loading_img {
	display: none;
}

/* ********************* */

#image_list {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.image_name {
	font-weight: bold;
	font-size: 13px;
	color: #894545 ;
}





