{% extends "image_list_base.html" %}

{%block element_container %}
	<div class="image_data">
		<span class="image_name">{{image.name}}</span>
		<a class="delete_image" href="/delete_background_image/{{image.id}}/"><img src="{{STATIC_URL}}img/delete.gif" alt="Delete" /></a>
		<img class="loading_img" src="{{STATIC_URL}}img/loading_small.gif" />
		<img class="edit_image" src="{{STATIC_URL}}img/edit.png" alt="Edit" />
		
		<div class="image_city">{{image.city}}</div>
		<div class="image_description">{{image.description}}</div>
	</div>
	
	<form class="image_form" action="/edit_background_image/{{image.id}}/" method="post">{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Save" />
		<button class="cancel_button">Cancel</button>
	</form>
{% endblock %}