{% extends "base.html" %}

{% block head %}

<script type="text/javascript" src="{{STATIC_URL}}js/uploadify/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/uploadify/swfobject.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/uploadify/jquery.uploadify.v2.1.4.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.jform.js"></script>

<script type="text/javascript">
	function loadPictureList(){
		$('#picture_list').load('/picture_list/', function(){
			
			$("a.delete_picture_image").click(function(event) {
				event.preventDefault();
				$(this).hide();
				$(this).next(".loading_img").show();
				$.post( $(this).attr("href"));
				loadPictureList();
			});
			
			$('.picture_image_form').submit(function(){
				$(this).children('input[type="submit"]').val("Saving");
				$.post($(this).attr("action"), $(this).serialize());
				loadPictureList();
				return false;
			});
			
		});
		
	}
	
	
	$(document).ready(function() {
		$('#picture_upload').uploadify({
			'uploader'  : '{{STATIC_URL}}js/uploadify/uploadify.swf',
		    'script'    : 'http://localhost:8000/upload_picture/',
		    'cancelImg' : '{{STATIC_URL}}js/uploadify/cancel.png',
		    'folder'    : '{{STATIC_URL}}js/uploads',
		    'auto'      : true,
		    'multi'     : true,
		    'fileExt'   : '*.jpg;*.jpeg;*.png;*.gif',
		    'fileDesc'  : 'Images',
		    'queueSizeLimit' : 6,
		    'onSelect' : function(){
		    	//alert("hi");
		    },
		    'scriptData': {'name': 'name01'},
		    'onAllComplete' : function(){
		    	loadPictureList();
		    }
		});
		
		loadPictureList();
	});
	
	
	
</script>

<link rel="stylesheet" href="{{STATIC_URL}}css/tempstyle.css" type="text/css" /> 

{% endblock %}

{% block content %}
<section id="content">
	<h2>Picture upload</h2>
	<input id="picture_upload" type="file" name="Filedata" />
	<!-- <a href="javascript:$('#background_upload').uploadifyUpload();">Upload Files</a> -->
	<div id="picture_list">
	</div>
</section>
{% endblock %}

